@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');

.navbar{
    min-height: 50px;
    width: 100%;
    background-color: lightslategrey;
}

.title{
    font-size: 24pt;
    font-family: 'Cinzel', serif;
    float: left;
    width: 30%;
    font-weight: 700;
}

.links{
    top: 50%;
    float: right;
    width: 70%;
    margin-top: 10px;
}

.linkText{
    font-family: 'Cinzel', serif;
    float: left;
    padding-left: 25px;
    text-decoration: none;
    font-size: 14pt;
    color: black;
}
.linkText:visited{
    color: black;
}

.clearboth{
    clear: both;
}