.field{
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}

.label{
    display: inline-block;
    width: 130px;
    margin-right: 15px;
}
.sectionHeader{
    padding-top: 25px;
    margin-bottom: 25px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 20pt;
}
.formError{
    color: red;
    margin: 0px;
}
Body{
    background-color: lightgoldenrodyellow;
}
.signupForm{
    width: 40%;
    padding: 15px;
    margin: auto;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 lightslategray;
}